@{
    ViewBag.Title = "Details";

    if (ViewBag.Embed)
    {
        Layout = "~/Views/Shared/_BlankLayout.cshtml";
    }

}

<div style="margin:10px"><h2>@Model.BoardName</h2></div>

@{
    string[] emailarray = Model.Email.Split('@');
    if ((Model.Private == true) && (ViewBag.Domain != emailarray[1]))
    {
        <div class="alert alert-danger" style="margin:10px">
            This is a private event.  Only @emailarray[1] users can view the event.
        </div>
        @Html.Partial("~/Views/Shared/_Login.cshtml")
    }
    else if (Model.View == "Cards")
    {
        @Html.Partial("_CardView")
    }
    else if (Model.View == "Calendar")
    {
        <iframe src="/Boards/CalendarView" id="CalendarFrame" style="border:none; width:100%; overflow:hidden"></iframe>
    }
}

<script>
    function resizeIFrameToFitContent(iFrame) {
        //iFrame.width = iFrame.contentWindow.document.body.clientWidth;
        iFrame.height = iFrame.contentWindow.document.body.clientHeight;
    }

    setInterval(function () {
        var iFrame = $('#CalendarFrame');
        resizeIFrameToFitContent(iFrame[0]);
    }, 1000)
</script>