<div class="alert alert-warning" style="margin:10px">
    Please <a href="http://register.makemeetingsgreat.com">Register</a> and @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: new { path = Context.Request.RawUrl }, htmlAttributes: new { id = "loginLink" }) to Continue
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1">@Html.Partial("/Views/Home/_About.cshtml")</div>
</div>
