@if (Request.IsAuthenticated)
{
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active nav-link">Hello, @ViewBag.Email!</li>
            <li class="nav-item">
                @Html.ActionLink("Sign out", "SignOut", "Account", null, new { @class = "nav-link" })
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link"><a href="http://register.makemeetingsgreat.com">Register</a></li>
        <li class="nav-item">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: new { path = Context.Request.RawUrl }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
