                @{ViewBag.Title = "About"; }
                <div id="fb-root" style="margin:10px"></div>



                <div class="row">

                    <div class="col-md-5">

                        <h3>Vision</h3>

                        <div>Technology can help make work better. MyEventURL is an application that makes it easy to publish an event. We live for that moment when two people exchange hunch and an idea is born!</div>

                        <h3>Values</h3>

                        <div class="row" style="padding:10px">
                            <div class="col-md-2"><img src="~/Content/love.png" /></div><div class="col-md-offset-2">Change agents can do amazing work when they work on the right things with the right people.</div>
                        </div>
                        <div class="row" style="padding:10px">
                            <div class="col-md-2"><img src="~/Content/sharing.png" /></div><div class="col-md-offset-2">Sharing helps connect people!  The source code for this project is made available under the MIT license at <a href="https://avisuj.github.io/ideationzone/">GitHub</a>. This app leverages several projects and add-ins like jquery, jqueryui, bootstrap, vuejs, and jquery sticky note that are protected under separate open license agreements.</div>
                        </div>
                        <div class="row" style="padding:10px">
                            <div class="col-md-2"><img src="~/Content/view.png" /></div><div class="col-md-offset-2">Openness helps people prioritize projects! In order to promote opennesss, we ask that you generally license your contributions under a free and open license.</div>
                        </div>

                        @Html.Partial("_About")
                    </div>

                    <div class="col-md-6 col-md-offset-1">

                        <h3>Community</h3>

                        <div class="fb-page" data-href="https://www.facebook.com/My-Event-URL-Community-242979979369065/" data-tabs="timeline" data-width="500" data-height="800" data-small-header="false" data-adapt-container-width="True" data-hide-cover="false" data-show-facepile="True"></div>

                    </div>

                </div>

                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=908917155889295";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>



