@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("~/Views/Components/_EventCard.cshtml")


<div id="index">
    <eventcard id="eventID"
               title="Title"
               description="Description"
               location="Location"
               start="Start"
               timezone="TimeZone"
               width="650"
               chars="100" />
</div>

<script>
    var index = new Vue({
        el: "#index",
        data: {
            Events: [],
            SearchQuery: '',
        },
        methods: {
        }
    })
</script>