@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("~/Views/Components/_EventCard.cshtml")
<style>
    .card {
        border:0px;
    }
</style>
<div style="align-content:center; width:100%">
    <img src="~/Content/color_logo_transparent.png" style="width:80%" />
    Search <input name="query" v-model="SearchQuery" style="min-width:100%; margin:10px">
</div>
<div id="index" class="card-columns">
    <div v-for="Card in FilteredEvents" class="card">
        <eventcard :id="Card.EventId"
                   :title="Card.Title"
                   :description="Card.Description"
                   :location="Card.Location"
                   :start="Card.Start"
                   :timezone="Card.Timezone"
                   :cstyle="Card.Style"
                   width="100%"
                   chars="200">
        </eventcard>
    </div>
</div>

<script>
    var index = new Vue({
        el: "#index",
        data: {
            Events: [],
            SearchQuery: '',
        },
        computed: {
            FilteredEvents: function () {
                return this.Events.filter(function (elem) {
                    return _.toArray(elem).toString().indexOf(index.SearchQuery) > -1;
                })
            }
        },
        mounted: function () {
            axios.get("/odata/GetEvent?$filter=Private eq false&$orderby=Views&$select=Title,Description,Location,Start,TimeZone,Style,EventId&past=false&$top=100")
                .then(function (results) {
                    index.Events = results.data.value;
                    //index.FilteredEvents = results.data.value;
                })
        },
        methods: {
        }
    })
</script>