body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.EventCard {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.Yellow {
    background-color: rgb(250, 250, 48);
}

.Orange {
    background-color: rgb(252, 190, 131);
}

.Green {
    background-color: rgb(136, 246, 147);
}

.Blue {
    background-color: rgb(206, 231, 252);
}

.Pink {
    background-color: rgb(243, 172, 223);
}

.Grey {
}
