<div class="alert alert-warning" style="margin:10px">
    Please <a href="http://register.makemeetingsgreat.com">Register</a> and @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to Continue
</div>

<h2></h2>
