

    <!-- Modal -->
<div class="modal fade" id="eventform" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ModalTitle}}</h4>
                <div v-if="Error.Start.Show" class="alert alert-danger hidden-print" style="margin:3px">
                    {{Error.Start.Message}}
                </div>
                <div v-if="Error.End.Show" class="alert alert-danger hidden-print" style="margin:3px">
                    {{Error.End.Message}}
                </div>
                <div v-if="Error.TZ.Show" class="alert alert-danger hidden-print" style="margin:3px">
                    {{Error.TZ.Message}}
                </div>
                <div v-if="Error.Forms.Show" class="alert alert-danger hidden-print" style="margin:3px">
                    {{Error.Forms.Message}}
                </div>
                <div v-if="Error.Sway.Show" class="alert alert-danger hidden-print" style="margin:3px">
                    {{Error.Sway.Message}}
                </div>
            </div>
            <div class="modal-body" style="padding:20px">
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Background</div>
                    <div class="col-md-5">
                        <select v-model="Style" style="padding:3px">
                            <option v-for="style in StyleList" :value="style">{{style}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Organizer</div>
                    <div class="col-md-9"><input v-model="Organizer" style="min-width:100%" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Subject</div>
                    <div class="col-md-9"><input v-model="Subject" style="min-width:100%" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Location</div>
                    <div class="col-md-9"><input v-model="Location" style="min-width:100%" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Start</div>
                    <div class="col-md-5"><input onchange="EventForm.setStartTime()" v-model="StartTime" id="starttime" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">End</div>
                    <div class="col-md-5"><input onchange="EventForm.setEndTime()" v-model="EndTime" id="endtime" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">TimeZone</div>
                    <div class="col-md-5">
                        <select v-model="TimeZone" id="timezone" style="padding:3px">
                            <option v-for="tz in TimeZoneList" :title="tz.offset" :value="tz.label">{{tz.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Description</div>
                    <div class="col-md-9"><textarea v-model="Description" rows="4" style="max-width:100%; min-width:100%"></textarea></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Forms URL</div>
                    <div class="col-md-9"><input v-model="Forms" style="min-width:100%" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-2">Sway URL</div>
                    <div class="col-md-9"><input v-model="Sway" style="min-width:100%" /></div>
                </div>
                <div class="row" style="padding:3px">
                    <div class="col-md-1 col-md-offset-1"><input type="checkbox" v-model="NoReply" /></div>
                    <div class="col-md-2">Mask Email</div>
                    <div class="col-md-1 col-md-offset-1"><input type="checkbox" v-model="Private" /></div>
                    <div class="col-md-2">Private Event</div>
                    <div class="col-md-1 col-md-offset-1"><input type="checkbox" v-model="Icon" /></div>
                    <div class="col-md-2">Use Icon</div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<script>
    var momentjsformat = "MM/DD/YYYY hh:mm A";


    $(function () {
        //EventForm.StartTime = "04/19/2019 03:00 pm";
        //EventForm.EndTime = "04/19/2019 03:00 pm";

        var startDateTextBox = $('#starttime');
        var endDateTextBox = $('#endtime');

        $.timepicker.datetimeRange(
            startDateTextBox,
            endDateTextBox,
            {
                minInterval: (1000 * 60 * 60), // 1hr
                dateFormat: 'mm/dd/yy',
                timeFormat: 'hh:mm tt',
                start: {}, // start picker options
                end: {} // end picker options					
            }
        );

        EventForm.Organizer = Account.UserName;
        EventForm.Email = Account.Email;
    });
</script>

<script>
    var EventForm = new Vue({
        el: "#eventform",
        data: {
            ModalTitle: "Create Event",
            TimeZoneList: [],
            StyleList: ["Blue", "Green", "Grey", "Orange", "Pink", "Yellow"],
            Style: "Grey",
            Organizer: "",
            Email: "",
            Subject: "",
            Location: "",
            StartTime: "",
            EndTime: "",
            TimeZone: moment.tz.guess(),
            Description: "",
            Reminder: "",
            Forms: "",
            Sway: "",
            NoReply: false,
            Private: false,
            Icon: false,
            Error: {
                Start: { Show: false, Message: "Start is not a valid date." },
                End: { Show: false, Message: "End is not a valid date." },
                TZ: { Show: false, Message: "TimeZone is not valid." },
                Forms: { Show: false, Message: "The Forms URL is not valid." },
                Sway: {Show: false, Message: "The Sway URL is not valid."}
            }
        },
        computed: {
            TzOffset: function () {
                return $('#timezone').find("option:selected").prop("title")
            }
        },
        beforeCreate: function() {
            axios.get('https://www.addevent.com/api/v1/timezones')
                .then(function (response) {
                    EventForm.TimeZoneList = response.data.data;
                })
        },
        updated: function () {
            if (this.Error.Start.Show || this.Error.End.Show || this.Error.TZ.Show || this.Error.Forms.Show || this.Error.Sway.Show) this.runValidateForm();
        },
        methods: {
            createEvent: function () {
                this.runValidateForm();
            },
            runClearForm: function () {
                this.ModalTitle = "Create Event";
                this.Style = "grey";
                this.Organizer = "";
                this.Subject = "";
                this.Location = "";
                this.StartTime = "";
                this.EndTime = "";
                this.TimeZone = moment.tz.guess();
                this.Description = "";
                this.Reminder = "";
                this.Forms = "";
                this.Sway = "";
                this.NoReply = false;
                this.Private = false;
                this.Icon = false;
            },
            runValidateForm: function () {
                this.Error.Start.Show = !(moment(this.StartTime, momentjsformat).isValid());
                this.Error.End.Show = !(moment(this.EndTime, momentjsformat).isValid());
                this.Error.TZ.Show = (_.findWhere(EventForm.TimeZoneList, { label: EventForm.TimeZone }) == null);
                this.Error.Forms.Show = !((/https:\/\/forms\.office\.com\/Pages\/ResponsePage\.aspx\?id/.test(this.Forms)) || this.Forms == "");                
                this.Error.Sway.Show = !((/https:\/\/sway\.office\.com\//.test(this.Sway)) || this.Sway == "");
                if (this.Error.Start.Show || this.Error.End.Show || this.Error.TZ.Show || this.Error.Forms.Show || this.Error.Sway.Show) return false;
                return true;
            },
            setStartTime: function () {
                this.StartTime = $("#starttime").val();
            },
            setEndTime: function () {
                this.EndTime = $("#endtime").val();
            },
            setModalTitle: function (title) {
                this.ModalTitle = title;
            }

        }
    })
</script>
