@model MyEventURL.Event

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.Partial("_EventForm")
<button data-backdrop="static" data-toggle="modal" data-target="#eventform" style="width:200px; height:50px">Manage</button>


