@{
    ViewBag.Title = "Delete";
}



@{
        ViewBag.Email = User.Identity.Name;
        if (ViewBag.Email != "")
        {
            string[] emailarray = new string[2];
            emailarray = ViewBag.Email.Split('#');
            ViewBag.Email = (emailarray.Length > 0) ? emailarray[1] : emailarray[0];
            emailarray = ViewBag.Email.Split('@');
            ViewBag.UserName = emailarray[0];
            ViewBag.Domain = emailarray[1];
        }

    if (ViewBag.Email != Model.Email)
    {
        <div class="alert alert-danger" style="margin:10px">
            You can only delete events you own.
        </div>
        @Html.Partial("_DetailsLogin") }
    else
    {
        @Html.Partial("_Delete");
    }
}