@{
    ViewBag.Title = "Delete";
}



@{
    if (ViewBag.Email != Model.Email)
    {
        <div class="alert alert-danger" style="margin:10px">
            You can only delete events you own.
        </div>
        @Html.Partial("_DetailsLogin") }
    else
    {
        @Html.Partial("_Delete");
    }
}