@{
    ViewBag.Title = "Details";
}



@{
    ViewBag.Email = User.Identity.Name;
    if (ViewBag.Email != "")
    {
        string[] emailarray = new string[2];
        if (ViewBag.Email.Contains("#"))
        {
            emailarray = ViewBag.Email.Split('#');
            ViewBag.Email = emailarray[1];
        }
        emailarray = ViewBag.Email.Split('@');
        ViewBag.UserName = emailarray[0];
        ViewBag.Domain = emailarray[1];
    }

    string[] emailarray = Model.Email.Split('@');
    if ((Model.Private == true) && (ViewBag.Domain != emailarray[1]))
    {
        <div class="alert alert-danger" style="margin:10px">
            This is a private event.  Only @emailarray[1] users can view the event.
        </div>
        @Html.Partial("_DetailsLogin") }
    else
    {
        @Html.Partial("_Details");
    }
}