@{
    ViewBag.Title = "Delete";
}



@{
    if (User.Identity.Name != Model.Email)
    {
        <div class="alert alert-danger" style="margin:10px">
            You can only delete boards you own.
        </div>
        @Html.Partial("_DetailsLogin") }
    else
    {
        @Html.Partial("_Details");
    }
}